.navPanel-body {
    padding: 0px;
    margin-bottom: 0px;
}

.listingPanel-body {
    height: 76vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.searchPanel-body {
    padding: 0px;
    margin-bottom: 0px;
}

.panel {
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 5px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.bgPic {
    background-image: url("/Img/bgImg2.jpg");  
    background-size: cover; 

}

.searchList {
  width: 225px;
}

.searchBox {
  width: 225px;
}